__pycache__/
*.pyc
*.pyo
*.pyd
.env
.vscode/
.ipynb_checkpoints/
.DS_Storemodels/distilbert_genre/final_model/model.safetensors
models/distilbert_genre/final_model/model.safetensors
models/distilbert_genre/final_model/model.safetensors
models/distilbert_genre/final_model/model.safetensors
